.admin-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #e6f7ff;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f5f7fa;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
}

.main-content {
  flex: 1;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  background-color: #e6f7ff; /* Set background for the main content */
}

.page-content {
  padding: 20px;
  min-height: 100vh;
  background-color: #e6f7ff; /* Change to white background for page content */
}
